ul {
  list-style: none;
}
li {
  margin-bottom: 10px;
}

p {
    font-family: Helvetica;
    font-size: 12px;
    margin:0px;
}

.btn {
  padding: 10px 25px;
  font-weight: 500;
  font-size: 12px;
  background: transparent;
  outline: none;
  display: inline-block;
  position: relative;
  transition: all 0.3s ease;
  border: 2px solid #000;
}
.btn:hover, .btn.active {
  background: #000;
  color: #fff;
}
.btn:active {
  top: -1px;
}
